name: M1Store_Build
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Setup iOS SDK
        run: |
          git clone https://github.com/theos/sdks.git ~/theos/sdks

      - name: Build Dylib
        run: |
          export THEOS=~/theos
          # لێرە فەرمانی دروستکردنی فایلەکە دەدەین
          make FINALPACKAGE=1
          
      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: M1Store_Final_Dylib
          path: |
            .theos/obj/debug/*.dylib
            packages/*.deb
