name: Build_Dylib
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=~/theos" >> $GITHUB_ENV

      - name: Setup SDK
        run: |
          git clone https://github.com/theos/sdks.git ~/theos/sdks

      - name: Build
        run: |
          cd $GITHUB_WORKSPACE
          make
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: M1Store_Dylib
          path: "packages/*.deb" # ئەگەر دایلبەکە نەبوو، ئەمە وەک دیب (deb) دەینێرێت
