name: Build_Dylib
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=~/theos" >> $GITHUB_ENV
      - name: Build
        run: |
          make
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: MyDylib
          path: .theos/obj/debug/*.dylib
